
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.first-color {
    color: #FD6E0A;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav ul li a{
text-decoration: none;
color: #474747;

}
nav ul li {
   margin-right: 51px;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.button-color{
    
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;


}
